In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
model = load_model("Saved_Model/churn_model.h5")

In [5]:
# Load preprocessor
with open("Saved_Model/preprocessor.pkl", "rb") as f:
    preprocessor = pickle.load(f)

In [6]:
# Input data
input_data = {
    'CreditScore': 502,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 42,
    'Tenure': 8,
    'Balance': 159660,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 0,
    'EstimatedSalary': 110000
}

In [7]:
# Convert to DataFrame
input_df = pd.DataFrame([input_data])
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,502,France,Female,42,8,159660,3,1,0,110000

In [8]:
# Apply SAME preprocessing
input_processed = preprocessor.fit_transform(input_df)

In [9]:
# Prediction
prediction = model.predict(input_processed)
prediction_proba = prediction[0][0]

1/1 [==============================] - 0s 106ms/step

In [10]:
# Output
if prediction_proba > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

print("Churn Probability:", prediction_proba)

The customer is not likely to churn.
Churn Probability: 0.09294976

### **Multiple data prediction together**

In [11]:
# 15 sample customers
input_data = [
    {'CreditScore':502,'Geography':'France','Gender':'Female','Age':42,'Tenure':8,'Balance':159660,'NumOfProducts':3,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':110000},
    {'CreditScore':650,'Geography':'Germany','Gender':'Male','Age':35,'Tenure':5,'Balance':80000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':90000},
    {'CreditScore':720,'Geography':'Spain','Gender':'Female','Age':28,'Tenure':3,'Balance':0,'NumOfProducts':1,'HasCrCard':0,'IsActiveMember':1,'EstimatedSalary':50000},
    {'CreditScore':480,'Geography':'France','Gender':'Male','Age':50,'Tenure':10,'Balance':120000,'NumOfProducts':4,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':70000},
    {'CreditScore':590,'Geography':'Germany','Gender':'Female','Age':45,'Tenure':7,'Balance':100000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':85000},
    {'CreditScore':710,'Geography':'Spain','Gender':'Male','Age':31,'Tenure':6,'Balance':60000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':95000},
    {'CreditScore':430,'Geography':'France','Gender':'Female','Age':55,'Tenure':9,'Balance':140000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':65000},
    {'CreditScore':680,'Geography':'Germany','Gender':'Male','Age':38,'Tenure':4,'Balance':90000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':120000},
    {'CreditScore':750,'Geography':'Spain','Gender':'Female','Age':29,'Tenure':2,'Balance':0,'NumOfProducts':1,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':40000},
    {'CreditScore':560,'Geography':'France','Gender':'Male','Age':47,'Tenure':6,'Balance':110000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':78000},
    {'CreditScore':620,'Geography':'Germany','Gender':'Female','Age':41,'Tenure':8,'Balance':95000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':102000},
    {'CreditScore':495,'Geography':'Spain','Gender':'Male','Age':52,'Tenure':9,'Balance':130000,'NumOfProducts':3,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':88000},
    {'CreditScore':705,'Geography':'France','Gender':'Female','Age':33,'Tenure':4,'Balance':40000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':92000},
    {'CreditScore':660,'Geography':'Germany','Gender':'Male','Age':36,'Tenure':5,'Balance':70000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':97000},
    {'CreditScore':520,'Geography':'Spain','Gender':'Female','Age':48,'Tenure':7,'Balance':115000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':76000}
]

In [12]:
# Convert to DataFrame
input_df = pd.DataFrame(input_data)

In [13]:
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,502,France,Female,42,8,159660,3,1,0,110000
1,650,Germany,Male,35,5,80000,2,1,1,90000
2,720,Spain,Female,28,3,0,1,0,1,50000
3,480,France,Male,50,10,120000,4,1,0,70000
4,590,Germany,Female,45,7,100000,2,1,0,85000

In [14]:
# Apply SAME preprocessing
input_processed = preprocessor.fit_transform(input_df)

In [15]:
# Predict
predictions = model.predict(input_processed)

1/1 [==============================] - 0s 137ms/step

In [16]:
# Add results
input_df['Churn_Probability'] = predictions
input_df['Churn_Prediction'] = (predictions > 0.5).astype(int)

In [17]:
input_df.head(15)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churn_Probability,Churn_Prediction
0,502,France,Female,42,8,159660,3,1,0,110000,0.338841,0
1,650,Germany,Male,35,5,80000,2,1,1,90000,0.031552,0
2,720,Spain,Female,28,3,0,1,0,1,50000,0.346817,0
3,480,France,Male,50,10,120000,4,1,0,70000,0.934513,1
4,590,Germany,Female,45,7,100000,2,1,0,85000,0.495416,0
5,710,Spain,Male,31,6,60000,2,1,1,95000,0.014526,0
6,430,France,Female,55,9,140000,3,0,0,65000,0.804385,1
7,680,Germany,Male,38,4,90000,2,1,1,120000,0.033045,0
8,750,Spain,Female,29,2,0,1,1,1,40000,0.203151,0
9,560,France,Male,47,6,110000,3,0,0,78000,0.163047,0
10,620,Germany,Female,41,8,95000,2,1,1,102000,0.186909,0
11,495,Spain,Male,52,9,130000,3,1,0,88000,0.672390,1
12,705,France,Female,33,4,40000,2,1,1,92000,0.021104,0
13,660,Germany,Male,36,5,70000,2,1,1,97000,0.030363,0
14,520,Spain,Female,48,7,115000,3,0,0,76000,0.351753,0